<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
         
    <title>Read the simple tips !</title>
</head>
<body>
    <h2>Web Phishing:</h2>
    <p>Phishing is a type of social engineering attack often used to steal user data, including login credentials and credit card numbers. It occurs when an attacker, masquerading as a trusted entity, 
        dupes a victim into opening an email, instant message, or text message. The recipient is then tricked into clicking a malicious link, which can lead to the installation of malware, 
        the freezing of the system as part of a ransomware attack or the revealing of sensitive information.So we have designed a site to check if your URLs are actually phishing or not
    </p>
    <ul>
        Some Points to be noted:
      <li> name of the sender can hinder you</li>
      <li>Chcek the typos twice</li>  
      <li> Avoid sharing sensitive information</li> 
      <li> Don't click unwanted links</li> 
      <li> Avoid doing things hastily</li>
    </ul>
    <p>Enter the url and get the results ....</p>
    </body>
    </html>
